In [ ]:
# Swapnil Saha Shawon (2022533042)
# Tamanna Rahman (2021450642)
# Syeda Mashiat Tabassum (2031356642)

## **Credit Dataset**

In [ ]:
#include libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#load data and checking contents
data = pd.read_csv("DT-Credit.csv")
print(data)

#check for null values
print("\nChecking NULL values:\n",data.isnull().sum())

      Income  Limit  Rating  Cards  Age  Education  Own Student Married  \
0     14.891   3606     283      2   34         11   No      No     Yes
1    106.025   6645     483      3   82         15  Yes     Yes     Yes
2    104.593   7075     514      4   71         11   No      No      No
3    148.924   9504     681      3   36         11  Yes      No      No
4     55.882   4897     357      2   68         16   No      No     Yes
..       ...    ...     ...    ...  ...        ...  ...     ...     ...
395   12.096   4100     307      3   32         13   No      No     Yes
396   13.364   3838     296      5   65         17   No      No      No
397   57.872   4171     321      5   67         12  Yes      No     Yes
398   37.728   2525     192      1   44         13   No      No     Yes
399   18.701   5524     415      5   64          7  Yes      No      No

    Region  Balance
0    South      333
1     West      903
2     West      580
3     West      964
4    South      331
..     ...      ...
395  South      560
396   East      480
397  South      138
398  South        0
399   West      966

[400 rows x 11 columns]

Checking NULL values:
 Income       0
Limit        0
Rating       0
Cards        0
Age          0
Education    0
Own          0
Student      0
Married      0
Region       0
Balance      0
dtype: int64

In [ ]:
#preprocessing data
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
print("Categorical Columns:", categorical_cols)
print("\n")

data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

print(data)

Categorical Columns: ['Own', 'Student', 'Married', 'Region']


      Income  Limit  Rating  Cards  Age  Education  Balance  Own_Yes  \
0     14.891   3606     283      2   34         11      333    False
1    106.025   6645     483      3   82         15      903     True
2    104.593   7075     514      4   71         11      580    False
3    148.924   9504     681      3   36         11      964     True
4     55.882   4897     357      2   68         16      331    False
..       ...    ...     ...    ...  ...        ...      ...      ...
395   12.096   4100     307      3   32         13      560    False
396   13.364   3838     296      5   65         17      480    False
397   57.872   4171     321      5   67         12      138     True
398   37.728   2525     192      1   44         13        0    False
399   18.701   5524     415      5   64          7      966     True

     Student_Yes  Married_Yes  Region_South  Region_West
0          False         True          True        False
1           True         True         False         True
2          False        False         False         True
3          False        False         False         True
4          False         True          True        False
..           ...          ...           ...          ...
395        False         True          True        False
396        False        False         False        False
397        False         True          True        False
398        False         True          True        False
399        False        False         False         True

[400 rows x 12 columns]

In [ ]:
#selecting target variable and features
X = data.drop(['Balance'], axis = 1)
y = data['Balance']

#splitting data for training, validating and testing
X_train = X.iloc[:280]
X_validation = X.iloc[280:340]
X_test = X.iloc[340:]
print(X_validation)
y_train = y.iloc[:280]
y_validation = y.iloc[280:340]
y_test = y.iloc[340:]

      Income  Limit  Rating  Cards  Age  Education  Own_Yes  Student_Yes  \
280   53.401   5319     377      3   35         12     True        False
281   36.142   1852     183      3   33         13     True        False
282   63.534   8100     581      2   50         17     True        False
283   49.927   6396     485      3   75         17     True        False
284   14.711   2047     167      2   67          6    False        False
285   18.967   1626     156      2   41         11     True        False
286   18.036   1552     142      2   48         15     True        False
287   60.449   3098     272      4   69          8    False        False
288   16.711   5274     387      3   42         16     True        False
289   10.852   3907     296      2   30          9    False        False
290   26.370   3235     268      5   78         11    False        False
291   24.088   3665     287      4   56         13     True        False
292   51.532   5096     380      2   31         15    False        False
293  140.672  11200     817      7   46          9    False        False
294   42.915   2532     205      4   42         13    False        False
295   27.272   1389     149      5   67         10     True        False
296   65.896   5140     370      1   49         17     True        False
297   55.054   4381     321      3   74         17    False        False
298   20.791   2672     204      1   70         18     True        False
299   24.919   5051     372      3   76         11     True        False
300   21.786   4632     355      1   50         17    False        False
301   31.335   3526     289      3   38          7     True        False
302   59.855   4964     365      1   46         13     True        False
303   44.061   4970     352      1   79         11    False        False
304   82.706   7506     536      2   64         13     True        False
305   24.460   1924     165      2   50         14     True        False
306   45.120   3762     287      3   80          8    False        False
307   75.406   3874     298      3   41         14     True        False
308   14.956   4640     332      2   33          6    False        False
309   75.257   7010     494      3   34         18     True        False
310   33.694   4891     369      1   52         16    False         True
311   23.375   5429     396      3   57         15     True        False
312   27.825   5227     386      6   63         11    False        False
313   92.386   7685     534      2   75         18     True        False
314  115.520   9272     656      2   69         14    False        False
315   14.479   3907     296      3   43         16    False        False
316   52.179   7306     522      2   57         14    False        False
317   68.462   4712     340      2   71         16    False        False
318   18.951   1485     129      3   82         13     True        False
319   27.590   2586     229      5   54         16    False        False
320   16.279   1160     126      3   78         13    False         True
321   25.078   3096     236      2   27         15     True        False
322   27.229   3484     282      6   51         11    False        False
323  182.728  13913     982      4   98         17    False        False
324   31.029   2863     223      2   66         17    False         True
325   17.765   5072     364      1   66         12     True        False
326  125.480  10230     721      3   82         16    False        False
327   49.166   6662     508      3   68         14     True        False
328   41.192   3673     297      3   54         16     True        False
329   94.193   7576     527      2   44         16     True        False
330   20.405   4543     329      2   72         17    False         True
331   12.581   3976     291      2   48         16    False        False
332   62.328   5228     377      3   83         15    False        False
333   21.011   3402     261      2   68         17    False        False
334   24.230   4756     351      2   64         15     True        False
335   24.314   3409     270      2   23          7     True        False
336   32.856   5884     438      4   68         13    False        False
337   12.414    855     119      3   32         12    False        False
338   41.365   5303     377      1   45         14    False        False
339  149.316  10278     707      1   80         16    False        False

     Married_Yes  Region_South  Region_West
280        False         False        False
281        False         False        False
282         True          True        False
283         True          True        False
284         True          True        False
285         True         False         True
286        False          True        False
287         True          True        False
288         True         False         True
289        False          True        False
290         True         False         True
291         True          True        False
292         True          True        False
293         True         False        False
294         True         False         True
295         True          True        False
296         True          True        False
297         True         False         True
298        False         False        False
299         True         False        False
300         True          True        False
301        False          True        False
302         True          True        False
303         True         False        False
304         True         False         True
305         True         False         True
306         True          True        False
307         True         False         True
308        False         False         True
309         True          True        False
310        False         False        False
311         True          True        False
312         True          True        False
313         True         False         True
314        False         False        False
315         True          True        False
316        False         False         True
317         True          True        False
318        False          True        False
319         True         False        False
320         True         False        False
321         True          True        False
322        False          True        False
323         True          True        False
324         True         False         True
325         True          True        False
326         True          True        False
327        False         False         True
328         True          True        False
329         True          True        False
330        False         False         True
331         True          True        False
332        False          True        False
333         True         False        False
334         True          True        False
335         True          True        False
336        False          True        False
337         True         False        False
338        False          True        False
339        False         False        False

### **Evaluation Metrics**

In [ ]:
def mean_sq_error(y_true, y_pred):
  if len(y_true) != len(y_pred):
    raise ValueError("Lengths of y_true and y_pred must be the same.")

  # Calculate the squared differences between true and predicted values
  squared_errors = [(true - pred) ** 2 for true, pred in zip(y_true, y_pred)]

  # Calculate the mean of squared errors
  mse = sum(squared_errors) / len(y_true)

  return mse

### **Support vector regression (SVR)**

In [ ]:
#Training the dataset
from sklearn.svm import SVR

#Define the Support Vector Regressors
svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
svr_lin = SVR(kernel='linear', C=100, epsilon=.1)
svr_poly = SVR(kernel='poly', C=100, degree=3, epsilon=.1, coef0=1)

svr_rbf_trained = svr_rbf.fit(X_train, y_train)
svr_lin_trained = svr_lin.fit(X_train, y_train)
svr_poly_trained = svr_poly.fit(X_train, y_train)

In [ ]:
#Validating the model using training set
y_rbf_pred = svr_rbf_trained.predict(X_train)
y_lin_pred = svr_lin_trained.predict(X_train)
y_poly_pred = svr_poly_trained.predict(X_train)

mse = mean_sq_error(y_train, y_rbf_pred)
print('Rbf SVR Mean Squared Error: ', mse)
mse = mean_sq_error(y_train, y_lin_pred)
print('Lin SVR Mean Squared Error: ', mse)
mse = mean_sq_error(y_train, y_poly_pred)
print('Poly SVR Mean Squared Error: ', mse)

Rbf SVR Mean Squared Error:  151477.81262450502
Lin SVR Mean Squared Error:  94105.97791426926
Poly SVR Mean Squared Error:  57587.33518730447

In [ ]:
#Validating the model using validation set
y_rbf_pred = svr_rbf_trained.predict(X_validation)
y_lin_pred = svr_lin_trained.predict(X_validation)
y_poly_pred = svr_poly_trained.predict(X_validation)

mse = mean_sq_error(y_validation, y_rbf_pred)
print('Rbf SVR Mean Squared Error: ', mse)
mse = mean_sq_error(y_validation, y_lin_pred)
print('Lin SVR Mean Squared Error: ', mse)
mse = mean_sq_error(y_validation, y_poly_pred)
print('Poly SVR Mean Squared Error: ', mse)

Rbf SVR Mean Squared Error:  225802.8137528277
Lin SVR Mean Squared Error:  91351.20300772093
Poly SVR Mean Squared Error:  38233.0412158933

In [ ]:
#Using the best model to evaluate the test set
y_poly_pred = svr_poly_trained.predict(X_test)

mse = mean_sq_error(y_test, y_poly_pred)
print('SVR Mean Squared Error: ', mse)

SVR Mean Squared Error:  49040.79741914224